<launch>

  <include file="$(find simple_arm)/launch/upload.launch"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simple_arm)/urdf/simple_arm.rviz"/>

  <node name="jsp_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

</launch>
